<a href="#Python-Toolbox-Part-1">Python Toolbox Part 1</a>
<ol>
    <li><a href="#User-Defined-Function">User Defined Functions</a></li>
    <li><a href="#Python-Function-Argument,-Scope">Python Function Argument Scope</a></li>
    <li><a href="#Lambda-Function-and-Error-Handling">Lambda Function and Error Handling</a></li>
</ol>
<a href="#Python-Toolbox-Part-2">Python Toolbox Part 2</a>
<ol>
    <li><a href="#Iterators">Iterators</a></li>
    <li><a href="#List-Comprehensions-and-Generators">List Comprehensions and Generators</a></li>
    <li><a href="#Why-Not-All-?">Why Not All ?</a></li>
</ol>

# Python Toolbox Part 1

## User Defined Function

In [ ]:
# Membuat fungsi sederhana

def dj():
    print('Tiesto')

In [ ]:
# Memanggil fungsi dj

dj()

In [ ]:
# Memasukkan input ke dalam function

# input dalam function disebut parameter

# single parameter

def biodata(nama):
    print('Nama Anda Adalah '+ nama)

biodata('Martin Garrix')

In [ ]:
# Multi parameter

def kel_pp(p,l):
    keliling = 2 * (p + l)
    print(keliling)

kel_pp(2,3)

In [ ]:
# Keyword return, berguna untuk menampilkan output sekaligus mengakhiri fungsi
# return = kembali
# Konsep kembalian ketika belanja, ketika kita menerima / tidaknya kembalian, maka transaksi selesai dilakukan

def kel_pp(p,l):
    keliling = 2 * (p + l)
    return keliling
kel_pp(2,3)

In [ ]:
# Fungsi nama berakhir di line 2

def nama(i):
    return i
    print('i')
    
nama('Seth Hills')

In [ ]:
# Multiple return

def matematika(a,b):
    tambah = a + b
    kurang = a - b
    kali = a * b
    return (tambah,kurang,kali)

mtk = matematika(4,2)
add, sub, mul = mtk

print('Hasil Penambahan : ',add)
print('Hasil Pengurangan : ',sub)
print('Hasil Perkalian : ',mul)

### Python Function Argument, Scope

#### Parameter Terdefinisi

In [ ]:
def vol_balok(p,l,t):
    return p * l * t

vol_balok(1,2,3)

In [ ]:
def vol_balok(p,l,t=3):
    return p * l * t

# vol_balok(p,l,t=3)
vol_balok(1,2)

In [ ]:
def vol_balok(p,l,t=3):
    return p * l * t

# vol_balok(p=1,l=2,t=4)
vol_balok(1,2,4)

#### Global Scope Variable and Local Scope Variable

In [ ]:
# Global Scope Variable

x = 10

print(x)

In [ ]:
x = 5

def output():
    return x

output()

In [ ]:
# Local Scope Variable

def out():
    y = 10
    return y

out()

In [ ]:
def out():
    y = 10
    return y

print(out())
print(y)

In [ ]:
# Bisakah kita menggunakan local dan global variable secara bersamaan ?

x2 = 'Global'

def test():
    x2 = 'Local'
    return x2

print(x2)
print(test())

In [ ]:
# Cara merubah x2 Global menjadi Local
x2 = 'Global'
print('Sebelum : ' + x2)

def test():
    global x2
    x2 = 'Local'
    return x2

test()
print('Sesudah : ' + x2)

#### Unlimited Parameter

In [ ]:
def unlimited(*args):
    for i in args:
        print(i)

In [ ]:
unlimited(1,2,3)

In [ ]:
unlimited(1,2,3,4,5)

#### Bisakah Argument Memiliki Keyword ?

In [ ]:
def key(**kwargs):
    for x,y in kwargs.items():
        print('Keyword {} Memiliki Tipe Data {}'.format(x,type(y)))

In [ ]:
key(a=10,b='Ayam')

In [ ]:
key(a=10,b='Ayam',c=['1',2,True])

#### Why Not Both ? Hehehe

In [ ]:
def whynotboth(*unlimited,**defined):
    i = 0
    for key,value in defined.items():
        print('Keyword {} Memiliki Tipe Data {}'.format(key,type(value)))
        i+=1
    print(i)

In [ ]:
whynotboth(a=10,b='Ayam',c=['1',2,True])

<h3>Lambda Function and Error Handling</h3>

<h4>Lambda Function</h4>A lambda function is a small anonymous function, can take any number of arguments, but can only have one expression

In [ ]:
#lambda argument:expression

# Memakai operator Aritmatika dalam lambda
lambda_1 = lambda x : x + 5
lambda_1(5)

In [ ]:
stri = 'Kelvin'

# Memakai string ke dalam lambda
lambda_2 = lambda st : st.lower()
lambda_2(stri)

In [ ]:
def segitiga(a,t):
    lu = (a * t)/2
    return lu

# Memakai function ke dalam lambda
lam_3 = lambda x,y : segitiga(x,y)
lam_3(3,2)

In [ ]:
lam4 = (lambda x,n : x * n)
lam4('Hei',3)

In [ ]:
nama = ['Tiesto','Martin Garrix','David Guetta']

res = map(lambda x : x.lower(),nama)

print(list(res))

In [ ]:
def lower(i):
    return i.lower()

res = map(lambda x : lower(x), nama)

print(list(res))

<h4>Error Exception</h4>

In [ ]:
# try and except
x = 5

try:
    print(x)
except:
    print('Error')

In [ ]:
print(y)

In [ ]:
try:
    print(y)
except:
    print('variable y is undefined')

In [ ]:
try:
    print(y)
except NameError:
    print('y is not defined')

In [ ]:
# try except else

try:
    print('Hello')
except:
    print('Mission Failed')
else:
    print('Mission Success')

In [ ]:
# try except finally

# finally akan berjalan apapun yang terjadi

try:
    print(y)
except:
    print('y is not defined')
finally:
    print('Try except is done')

In [ ]:
# raise -> Memodifikasi pesan error

y = 4
if type(y) != str:
    raise NameError('mana ada variable y tu string, lah jaleh itu int, jangan ngadi-ngadi')

In [ ]:
def bagi(a,b):
    
    if type(a) == str or type(b) == str:
        raise TypeError('Hanya menerima input bilangan')
    
    if b <= 0:
        raise Exception('Error ! Bilangan tidak bisa dibagi 0')
        
    return a / b

In [ ]:
bagi(2,0)

In [ ]:
a = '5'
bagi(2,a)

In [ ]:
bagi(3.3,2)

# Python Toolbox Part 2

## Iterators
Iterate = Pengulangan<br>Iterators = Yang mengulang<br>Iterable adalah object yang bisa di Iterate, contoh, list, string, dict, etc

In [ ]:
x = 'Ke'

print(iter(x))

In [ ]:
it = iter(x)
print(next(it))
print(next(it))

In [ ]:
y = [1,2]

ite = iter(y)
print(next(ite))
print(next(ite))

In [ ]:
word = 'Data'

itera = iter(word)

print(*itera)

In [ ]:
y = [1,2,3,4]

ite = iter(y)

print(*ite)

In [ ]:
bio = {
    'Nama':'Ujangan',
    'Panggilan':'Jang',
    'Alamat':'Rumah'
}

for i in bio:
    print(i)

In [ ]:
bio = {
    'Nama':'Ujangan',
    'Panggilan':'Jang',
    'Alamat':'Rumah'
}

try:
    for i,j in bio:
        print(i,j)
except:
    print('Error ! too many values to unpack (expected 2)')

In [ ]:
for i,j in bio.items():
    print(i,j)

Semisal ada 1 orang yang menerima satu kue, maka rata<br>Bayangkan ada 2 orang yang menginginkan 1 kue yang sama, tentu harus di 'pecah' / di 'bagi', itulah gunanya .items() pada dictionary, untuk memecah nilai menjadi 2, key dan values<br>Dictionary terdiri dari keys, values yang disatukan jadi 'satu kue' yang sama

#### Enumerate

In [ ]:
Li = ['Nol','Satu','Dua','Tiga','Empat']

em = enumerate(Li)
li_em = list(em)
li_em

In [ ]:
for index, values in enumerate(Li):
    print(index,values)

#### ZIP

In [ ]:
Li1 = [0,1,2,3]
Li2 = ['Zero','One','Two','Three']

zi = zip(Li1,Li2)
li_zi = list(zi)
li_zi

In [ ]:
Li1 = [0,1,2,3]
Li2 = ['Zero','One','Two','Three']

zi = zip(Li1,Li2)
li_zi = list(zi)
print(*li_zi)

In [ ]:
Li1 = [0,1,2,3]
Li2 = ['Zero','One','Two','Three']

for li1, li2 in zip(Li1,Li2):
    print(li1,li2)

In [ ]:
import pandas as pd

counts_dict = {}

# Iterate over the file chunk by chunk
for chunk in pd.read_csv('tweets.csv', chunksize=10):

    # Iterate over the column in DataFrame
    for entry in chunk['lang']:
        if entry in counts_dict.keys():
            counts_dict[entry] += 1
        else:
            counts_dict[entry] = 1

# Print the populated dictionary
print(counts_dict)

## List Comprehensions and Generators

In [ ]:
a = [1,2,3,4,5]

b = []

for i in a:
    b.append(i*2)
b

[akibat, sebab]

In [ ]:
b = [i * 2 for i in a]
b

In [ ]:
c = [item for item in range(10)]
c

In [ ]:
d = [(li1 * li2) for li1, li2 in zip(range(5),range(5))]
d

In [ ]:
heroes = ['Superman','Spiderman']

low_hero = [hero.lower() for hero in heroes]
low_hero

In [ ]:
random = [hero[0].lower() for hero in heroes]
random

In [ ]:
kalimat = 'ayam'

big = [huruf.upper() for huruf in kalimat]
big

In [ ]:
bio = {
    'nama':'Kelvin',
    'umur':21
}

random = [(key,value) for key, value in bio.items()]
random

In [ ]:
a = 20

try:
    test = [i*2 for i in a]
    test
except:
    print('Error')

In [ ]:
mat = [[col for col in range(3)] for row in range(2)]

for row in mat:
    print(row)

In [ ]:
mat

In [ ]:
a = [[i] for i in range(3)]
a

In [ ]:
for i in range(10):
    if i % 2 == 0:
        print(i)

[akibat sebab 1 sebab 2]

In [ ]:
gen = [i for i in range(10) if i % 2 == 0]
gen

In [ ]:
gen2 = [i if i % 2 == 0 else 0 for i in range(10)]
gen2

In [ ]:
li1 = ['a','b']
li2 = ['huruf a','huruf b']
bio = {key : values for key, values in zip(li1,li2)}
print(bio)
print(type(bio))

In [ ]:
nama = ['Ayam','Kucing']
kaki = [2,4]

for name, foot in zip(nama,kaki):
    if foot == 2:
        print(name)

In [ ]:
kaki4 = [name for name, foot in zip(nama,kaki) if foot == 2]
kaki4

In [ ]:
a = (1,2,3)
print(type(a))

In [ ]:
b = (i for i in range(3))
print(type(b))

In [ ]:
b

In [ ]:
li = list(b)
print(li)

In [ ]:
import pandas as pd
df = pd.read_csv('tweets.csv')
df.head(1)

In [ ]:
# Extract the created_at column from df: tweet_time
tweet_time = df['created_at']

# Extract the clock time: tweet_clock_time
tweet_clock_time = [entry[11:19] for entry in tweet_time]

# Print the extracted times
print(tweet_clock_time[:5])

In [ ]:
a = [entry[11:19] for entry in tweet_time if entry[17:19]=='19']
a[:5]

In [ ]:
import pandas as pd
world = pd.read_csv('world_bank.csv')

In [ ]:
feature_names = world.columns.to_list()
row_vals = world.iloc[0].to_list()

In [ ]:
# Zip lists: zipped_lists
zipped_lists = zip(feature_names, row_vals)

# Create a dictionary: rs_dict
rs_dict = dict(zipped_lists)

# Print the dictionary
print(rs_dict)

In [ ]:
def ziplist(list1,list2):
    zp = zip(list1,list2)
    dicti = dict(zp)
    return dicti

In [ ]:
import pandas as pd
df = pd.read_csv('world_bank.csv')
df.memory_usage()

In [ ]:
import pandas as pd
df = pd.read_csv('world_bank.csv',chunksize=5)
nxt = next(df)
# print(nxt.shape) # (5,5)
nxt.memory_usage()

In [ ]:
nxt.head()

In [ ]:
import pandas as pd
df = pd.read_csv('world_bank.csv',chunksize=10)
nxt = next(df)
print(nxt.shape) # (10,5)
# nxt.head()